html {
    font-size: 1rem;
}

img {
    webkit-user-select: none;
    -webkit-touch-callout: none;
}

.hide {
    display: none;
}

.clearFix {
    *zoom: 1;
}

.clearFix:before, .clearFix:after {
    content: '';
    display: table;
}

.clearFix:after {
    clear: both;
    overflow: hidden;
}

.page {
    overflow: hidden;
    position: relative;
}

.loads {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 2px;
    display: none;
}

.filterbg {
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 250;
}

.onload {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.5rem;
    z-index: 251;
    margin-top: -2.5rem;
    -webkit-animation: loads 1.1s infinite linear;
    animation: loads 1.1s infinite linear;
}

@-webkit-keyframes loads {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.wp {

}












.page1 {
    background: url("../images/bg1.jpg") center no-repeat;
    background-size:cover;
}

.page2,.page3 {
    background: url("../images/bg2.jpg") center no-repeat;
    background-size:cover;
}

.page4 {
    background: url("../images/bg4.jpg") center no-repeat;
    background-size:cover;
}
.page5 {
    background: url("../images/bg5.jpg") bottom no-repeat;
    background-size:cover;
}
.page6 {
    background: url("../images/bg6.jpg") bottom no-repeat;
    background-size:cover;
}
.page7 {
    background: url("../images/bg4.jpg") bottom no-repeat;
    background-size:cover;
}
.page8 {
    background: url("../images/bg8.jpg") bottom no-repeat;
    background-size:cover;
}

.page9 {
    background: url("../images/bg5.jpg") bottom no-repeat;
    background-size:cover;
}
.page10 {
    background: url("../images/bg9.jpg") bottom no-repeat;
    background-size:cover;
}
.page11 {
    background: url("../images/bg2.jpg") bottom no-repeat;
    background-size:cover;
}


.p1_1 {
    width: 120px;
    height: auto;
    overflow: hidden;
    position: absolute;
    left:50%;
    margin-left:-60px;
    top:20px;
}

.p1_2 {
    width: 100%;
    height: auto;
    position: absolute;

    left: 0%;
    top: 50%;
    margin-top:-140px;
    overflow: hidden;
}

.p1_3 {
    width: 100%;
    height: auto;
    position: absolute;

    left: 0%;
    top: 50%;
    margin-top:-140px;
    overflow: hidden;
}

.p1_4{width: 150px;height: auto;position: absolute;
    margin-left:-75px;left:50%;bottom:6%;
}

.p2_1{
    width: 140px;
    height: auto;
    overflow: hidden;
    position: absolute;
    left:50%;
    margin-left:-70px;
    top:10%;

}
.p2_3{width: 150px;height: auto;position: absolute;
    margin-left:-75px;left:50%;bottom:6%;
}
.p2_2{width: 100%;height: 200px;position: absolute;top:50%;left:0px;margin-top:-100px;}
.p2_2_btn{height: 34px;margin-left:50px;margin-right: 50px;border:1px solid #00ffd2;color:#00ffd2;
    background: rgba(0,255,210,0.18);text-align: center;line-height: 34px;border-radius: 17px;font-family: "微软雅黑";
    margin-bottom: 20px;font-size: 16px;
}

.p3_1{width: 100%;height: auto;overflow: hidden;margin-top:20px;}
.p3_2{overflow: hidden;font-family: "微软雅黑";font-size: 14px;color:#fff;
    position: absolute;top:80px;left:15px;right:15px;bottom:10px;overflow: auto;
}
.p3_2inner{height: auto;overflow: hidden;}

.p3_2 p{text-align: justify;}
.p3_2_2{height: 1px;border-top:1px solid #51a3ee;margin-top:20px;margin-bottom: 20px;}
.p3_2_3{height: 20px;line-height: 20px;color:#6db1fe;font-size: 14px;font-family: "微软雅黑";}

.p4_1{width: 100%;height: 100%;position: absolute;top:0px;left:0px;
    background: url(../images/x8.png) no-repeat bottom;
    background-size: cover;
}

.p4_2{width: 100%;height: auto;position: absolute;bottom:0px;left:0px;}

.p5_1{width: 100%;height: 100%;position: absolute;top:0px;left:0px;
    background: url(../images/x10.png) no-repeat bottom;
    background-size: cover;
}

.p5_2{width: 100%;height: auto;position: absolute;bottom:0px;left:0px;}


.p6_1{width: 100%;height: 100%;position: absolute;top:0px;left:0px;
    background: url(../images/x12.png) no-repeat bottom;
    background-size: cover;
}

.p6_2{width: 100%;height: auto;position: absolute;bottom:0px;left:0px;}

.p7_1{width: 100%;height: 100%;position: absolute;top:0px;left:0px;
    background: url(../images/x14.png) no-repeat bottom;
    background-size: cover;
}

.p7_2{width: 100%;height: auto;position: absolute;bottom:0px;left:0px;}


.p8_1{width: 100%;height: 100%;position: absolute;top:0px;left:0px;
    background: url(../images/x16.png) no-repeat bottom;
    background-size: cover;
}

.p8_2{width: 100%;height: auto;position: absolute;bottom:0px;left:0px;}


.p9_1{width: 100%;height: 100%;position: absolute;top:0px;left:0px;
    background: url(../images/x18.png) no-repeat bottom;
    background-size: cover;
}

.p9_2{width: 100%;height: auto;position: absolute;bottom:0px;left:0px;}

.p10_1{width: 100%;height: 100%;position: absolute;top:0px;left:0px;
    background: url(../images/x20.png) no-repeat bottom;
    background-size: cover;
}

.p10_2{width: 100%;height: auto;position: absolute;bottom:0px;left:0px;}



.p11_1{width: 150px;height: auto;overflow: hidden;margin:20px auto;}
.p11_2{position: absolute;top:80px;left:0px;right:0px;bottom:10px;overflow: auto;}

.lastImg{width: 300px;margin:0 auto;}







/*5s*/
@media only screen and (min-width: 320px) and (max-width: 370px) {
    .p1_2{margin-top:-140px;}
    .p1_3{margin-top:-140px;}
}

/*6*/
@media only screen and (min-width: 375px) and (max-width: 414px) {
    .p1_2{margin-top:-170px;}
    .p1_3{margin-top:-170px;}
}

/*6p*/
@media screen and (min-width: 414px) {
    .p1_2{margin-top:-182px;}
    .p1_3{margin-top:-182px;}
}


/**/
.p1_2Fla { -webkit-animation: p1_2FlaFra 1s ease both;}
.p1_3Fla { -webkit-animation: p1_3FlaFra 5s linear infinite;}


/*动画样式*/

@-webkit-keyframes p1_2FlaFra {
    0% {
        -webkit-transform: scale(0,0);
    }

    100% {
        -webkit-transform: scale(1,1);
    }
}

@-webkit-keyframes p1_3FlaFra {
    0% {
        -webkit-transform: translate(0px,0px);
    }

    50% {
        -webkit-transform: translate(15px,0px);
    }

    100% {
        -webkit-transform: translate(0px,0px);
    }
}








